body{
  background-color: #6D2EC8 ;
  text-align: center;
  padding: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#UserInputDiv{
  align-items: center;
  background-color: #89c82e;
  text-align: center;
  padding: 1%;
  display: block;
  border-collapse: separate;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-radius: 10px;
}

